.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 1s;
    overflow-y: auto;
    background-color: rgba(10, 13, 20, 0.5);
}
.coverModal{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modalContainer{
    background-color: #212c42;
    width: auto;
    max-width: 35rem !important;
    padding: 1rem;
    border-radius: .3rem;
    z-index: 100000;
    margin-top: 10rem !important;
    margin-bottom: 1rem;
}